
 body {
  min-width:512px;
  max-width:1024px;
  margin:16px auto;
  background-color:#FFE0C0;
  text-align:center;
  font-family:monospace;
 }
 div.ca {
  margin:0;
  padding:0 0 8px;
  font-size:20px;
  background-color:#FFFFFF;
 }
 div.cb, div.cc, div.ch {
  margin:1%;
  padding:0.5% 1% 1%;
 }
 div.cb {
  background-color:#FFF0C0;
 }
 div.cc {
  background-color:#E0F0FF;
 }
 div.ch {
  background-color:#F0FFC0;
 }
 div.cd {
  display:flex;
  justify-content:center;
  flex-wrap:wrap;
  margin:0;
  padding:0;
 }
 a.ce, a.cf {
  text-decoration:none;
  padding:1%;
  margin:1%;
  flex-basis:26%;
  flex-grow:1;
  flex-shrink:0;
  color:#000000;
 }
 a.ce {
  background-color:#F0F8FF;
 }
 a.cf {
  background-color:#F8FFD8;
 }
 a.ce:hover, a.ce:active {
  background-color:#B4BAC0;
 }
 a.cf:hover, a.cf:active {
  background-color:#BAC0A2;
 }
 nav.c0 {
  display:flex;
  justify-content:center;
  margin:1%;
  font-size:20px;
  background-color:#E0E0E0;
 }
 div.c1, div.c5 {
  display:flex;
  justify-content:center;
  flex-wrap:wrap;
  margin:1% 0;
  padding:0;
 }
 div.c1 {
  width:20%;
  flex-shrink:0;
  margin-left:1%;
 }
 div.c5 {
  flex-grow:1;
 }
 .c4 {
  max-width:100%;
  margin:auto 0;
 }
 div.c2 {
  display:flex;
  justify-content:center;
  flex-direction:column;
  margin:1%;
  padding:0;
 }
 div.c3 {
  display:flex;
  justify-content:left;
  flex-direction:row;
  margin:1%;
  padding:0;
 }
 .c6, .c7, .c8, .c9 {
  text-decoration:none;
  margin:1%;
  padding:0.1em 1em;
  flex-grow:1;
  color:#000000;
 }
 div#c3act {
  background-color:#C0FFFF;
 }
 div#c3event {
  background-color:#C0FFC0;
 }
 div#c3other {
  background-color:#FFFFC0;
 }
 .c6 {
  font-size:24px;
 }
 a.c6:hover, a.c6:active {
  background-color:#C0C0C0;
 }
 a.c7:hover, a.c7:active {
  background-color:#90C0C0;
 }
 a.c8:hover, a.c8:active {
  background-color:#90C090;
 }
 a.c9:hover, a.c9:active {
  background-color:#C0C090;
 }
 footer.cz {
  font-size:16px;
 }
 
 
