
 body {
  width:100%;
  margin:0;
  padding:0;
  text-align:center;
  font-size:16px;
  background-color:#F8FAFA;
 }

 .ch00 {
  width:100%;
  margin:0;
  padding:0;
  display:flex;
  background-color:#C0BEBE;
 }
 
 .chb {
  width:100%;
  z-index:4;
 }
 
 .ch01 {
  width:100%;
  top:0;
  position:sticky;
  /*background-color:#183162;*/
  background-color:#1B366C;
  z-index:6;
 }
 
 .ch10 {
  margin:0 auto;
  padding:0;
  max-width:1024px;
  height:100%;
  color:#FFFFFF;
  display:flex;
  flex-direction:column;
  background-color:#1C3870;
 }
 
 .ch11 {
  margin:0 auto;
  padding:0;
  max-width:100%;
  object-fit:contain;
  background-color:#FFE0F0;
 }
 
 .ch21 {
  width:100%;
  margin:0;
  padding:0;
 } 
 
 .ch22 {
  width:98%;
  margin:0 auto;
  padding:0.5%;
  overflow:hidden;
  flex-direction:column;
 }
 
 .ch31 {
  width:100%;
  height:100%;
  margin:0;
  padding:1% 0;
  background-color:#1C3870;
  border:none;
  outline:none;
  cursor:pointer;
 }
 
 .ch31:hover, .ch31:active {
  background-color:#204080;
 }
 
 .ch32 {
  width:100%;
  margin:0.5% 0;
  padding:0.5% 0 0;
  display:flex;
  flex-flow:row wrap;
  background-color:#3060C0;
 }
 
 .ch40, .ch41 {
  height:2em;
  display:flex;
  flex-direction:column;
 }
 
 .ch40 {
  width:100%;
 }
 
 .ch41 {
  margin:1px;
  padding:1%;
  flex-basis:15em;
  flex-grow:1;
  color:#FFFFFF;
  text-decoration:none;
  background-color:#1C3870;
 }
 
 .ch41:hover, .ch41:active {
  background-color:#204080;
 }
 
 .ch42 {
  max-height:64px;
  margin:0 auto;
  padding:0;
 }
 
 .ch50 {
  margin:auto;
 }
 
 .cb00 {
  width:100%;
  height:100%;
  z-index:5;
 }
 
 .cb10 {
  margin:0 auto;
  padding:0;
  max-width:1024px;
  height:100%;
  display:flex;
  flex-direction:column;
  background-color:#FAF8F8;
 }
 
 .cb20 {
  
 }
 
 .cb21, .cb22 {
  margin:2em 1%;
  padding:0;
  max-width:100%;
  display:flex;
  flex-wrap:wrap;
 }
 
 .cb21 {
  flex-direction:row-reverse;
 }
 
 .cb22 {
  flex-direction:row;
 }
 
 .cb23 {
  margin:2em 1%;
  padding:0;
  max-width:100%;
  display:flex;
  flex-direction:column;
 }
 
 .cb30 {
  margin:auto;
  max-width:256px;
 }
  
 .cb31 {
  margin:0.5em auto auto;
  padding:0.5em;
  flex-basis:690px;
  flex-shrink:1;
  flex-grow:0;
  display:flex;
  flex-direction:column;
 }
 
 .cb32 {
  margin:auto;
  max-width:100%;
 }
 
 .cb33 {
  padding:0.1em auto;
  text-align:center;
  background-color:#E0E8FF;
 }
 
 .cb34 {
  margin:0 auto;
  padding:0;
  text-align:left;
 }
 
 .cb40 {
  /*text-decoration:overline;*/
  text-align:center;
  border-bottom:solid 1px #000000;
 }
 
 .cb41 {
  margin:0 auto;
  padding;0;
  text-align:left;
 }
 
 .cb50 {
  width:3em;
  height:1em;
  margin:0;
  padding:0;
  display:inline-flex;
  background-color:#1C3870;
 }
 
 .cb51 {
  color:#000000;
 }
 
 .cb51:hover, .cb51:active {
  background-color:#FFFCFC;
 }
 
 .cb60 {
  margin:auto;
  padding:0;
  max-height:0.8em;
 }
 
 .cf00 {
  width:100%;
  height:6ex;
  background-color:#1B366C;
 }
 
 .cf10 {
  max-width:1024px;
  height:100%;
  margin:0 auto;
  padding:0;
  display:flex;
  flex-direction:row;
  background-color:#1C3870;
 }
 
 .cf20 {
  margin:auto;
  color:#E0E0E0;
 }
 
 .cf21 {
  margin:0 0 0 auto;
  flex-basis:8em;
  flex-shrink:0;
  border:none;
  outline:none;
  cursor:pointer;
  display:none;
  background-color:#1C3870;
 }
 
 .cf21:hover, .cf21:active {
  background-color:#204080;
 }
 
 .cf30 {
  margin:auto;
  padding:0;
  height:3em;
 }
