
 body {
  width:100%;
  margin:0;
  padding:0;
  text-align:center;
  font-size:16px;
  background-color:#F4F2F2;
 }

 .ch00 {
  width:100%;
  margin:0;
  padding:0;
  display:flex;
  background-color:#C0BEBE;
 }
 
 .chb {
  width:100%;
 }
 
 .ch01 {
  width:100%;
  position:sticky;
  top:0;
  /*background-color:#183162;*/
  background-color:#1B366C;
 }
 
 .ch10 {
  margin:0 auto;
  padding:0;
  max-width:1024px;
  height:100%;
  color:#FFFFFF;
  display:flex;
  flex-direction:column;
  background-color:#1C3870;
 }
 
 .ch11 {
  margin:0 auto;
  padding:0;
  max-width:1024px;
  height:100%;
  display:flex;
 }
 
 .ch20 {
  max-width:100%;
  max-height:100%;
 }
 
 .ch21 {
  width:100%;
  margin:0;
  padding:0;
 } 
 
 .ch22 {
  width:98%;
  margin:0;
  padding:0.5%;
  overflow:hidden;
  flex-direction:column;
 }
 
 .ch31 {
  width:100%;
  height:100%;
  margin:0;
  padding:1% 0;
  background-color:#1C3870;
  border:none;
  outline:none;
  cursor:pointer;
 }
 
 .ch31:hover, .ch31:active {
  background-color:#204080;
 }
 
 .ch32 {
  width:100%;
  margin:0.5% 0;
  padding:0.5% 0 0;
  display:flex;
  flex-flow:row wrap;
  background-color:#3060C0;
 }
 
 .ch40 {
  width:100%;
 }
 
 .ch41 {
  margin:1px;
  padding:1%;
  flex-basis:16em;
  flex-grow:1;
  color:#FFFFFF;
  text-decoration:none;
  background-color:#1C3870;
 }
 
 .ch41:hover, .ch41:active {
  background-color:#204080;
 }
 
 .ch42 {
  max-height:48px;
  margin:0 auto;
  padding:0;
 }
 
 .cb00 {
  width:100%;
  height:100%;
 }
 
 .cb10 {
  margin:0 auto;
  padding:0;
  max-width:1024px;
  height:100%;
  display:flex;
  flex-direction:column;
  background-color:#F0F2F2;
 }
 
 .cb20 {
  
 }
 
 .cb21, .cb22 {
  margin:2em 1%;
  padding:0;
  max-width:100%;
  display:flex;
  flex-wrap:wrap;
 }
 
 .cb21 {
  flex-direction:row;
 }
 
 .cb22 {
  flex-direction:row-reverse;
 }
 
 .cb30 {
  margin:auto;
  max-height:256px;
 }
  
 .cb31 {
  margin:0.5em auto auto;
  padding:0.5em;
  flex-basis:690px;
  flex-shrink:1;
  flex-grow:0;
  text-align:left;
 }
 
 .cb40 {
  text-decoration:underline;
  text-align:center;
 }
 
 .cb41 {
  width:3em;
  height:1em;
  margin:0;
  padding:0;
  display:inline-flex;
  background-color:#1C3870;
 }
 
 .cb42 {
  color:#000000;
 }
 
 .cb42:hover, .cb42:active {
  background-color:#FFFCFC;
 }
 
 .cb50 {
  margin:auto;
  padding:0;
  max-height:0.8em;
 }
 
 .cf00 {
  width:100%;
  height:6ex;
  background-color:#1B366C;
 }
 
 .cf10 {
  max-width:1024px;
  height:100%;
  margin:0 auto;
  display:flex;
  background-color:#1C3870;
 }
 
 .cf20 {
  margin:auto;
  color:#E0E0E0;
 }

