@import url('https://fonts.googleapis.com/css2?family=Inconsolata&family=Noto+Sans&family=Noto+Sans+Math&display=swap');
@font-face {
  font-family: "Computer Modern";
  src: url(../math/cmunrm.ttf) format("truetype");
}
@font-face {
  font-family: "Computer Modern Italic";
  src: url(../math/sourceV.ttf) format("truetype");
  unicode-range: U+41-5A, U+61-7A;
}

/*Header, Banner*/

.hBody {
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Noto Sans', sans-serif;
  font-size: 16px;
  background-color: #F8FAFA;
}

.hHeader {
  max-width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  background-color: #C0BEBE;
}

.hBanner {
  margin: 0 auto;
  padding: 0;
  max-width: 100%;
  min-height: auto;
  max-height: 25vw;
}

/*Beneath Header*/

.hBeneathHeader {
  width: 100%;
  z-index: 4;
}

/*Menu, Result of Search*/

.hMenuSide {
  width: 100%;
  top: 0;
  position: sticky;
  background-color: #1B366C;
  z-index: 6;
}

.hMenuBack {
  margin: 0 auto;
  padding: 0;
  max-width: 1024px;
  height: 100%;
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  background-color: #1C3870;
}

.hMenuButton {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 1% 0;
  background-color: #1C3870;
  border: none;
  outline: none;
  cursor: pointer;
}

.hMenuButton:hover, .hMenuButton:active {
  background-color: #204080;
}

.hMenuButtonImage {
  max-height: 64px;
  margin: 0 auto;
  padding: 0;
}

.hMenuLink {
  width: 98%;
  margin: 0 auto;
  padding: 0.5%;
  overflow: hidden;
  flex-direction: column;
}

.hMenuLinkGroup {
  width: 100%;
  margin: 0.5% 0;
  padding: 0.5% 0 0;
  display: flex;
  flex-flow: row wrap;
  background-color: #3060C0;
}

.hMenuLinkTitle, .hMenuLinkElement {
  height: 2em;
  display: flex;
  flex-direction: column;
}

.hMenuLinkTitle {
  width: 100%;
}

.hMenuLinkElement {
  margin: 1px;
  padding: 1%;
  flex-basis: 15em;
  flex-grow: 1;
  color: #FFFFFF;
  text-decoration: none;
  background-color: #1C3870;
}

.hMenuLinkElement:hover, .hMenuLinkElement:active {
  background-color: #204080;
}

.hMenuLinkText {
  margin: auto;
}

/*Body*/

.hContentSide {
  width: 100%;
  height: 100%;
  z-index: 100%;
}

.hContentBack {
  margin: 0 auto;
  padding: 0;
  max-width: 1024px;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: #FAF8F8;
}

/*Footer*/

.hFooterSide {
  width: 100%;
  height: 6ex;
  background-color: #1B366C;
}

.hFooter {
  max-width: 1024px;
  height: 100%;
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-direction: row;
  background-color: #1C3870;
}

.hFooterButton {
  margin: 0 0 0 auto;
  flex-basis: 8em;
  flex-shrink: 0;
  border: none;
  outline: none;
  cursor: pointer;
  display: none;
  background-color: #1C3870;
}

.hFooterButton:hover, .hFooterButton:active {
  background-color: #204080;
}

.hFooterButtonImage {
  margin: auto;
  padding: 0;
  height: 3em;
}

.hFooterText {
  margin: auto;
  color: #E0E0E0;
}

/*Content*/

.cArticle {
  margin: 1ex 1%;
  padding: 0;
}

.cPageTitle {
  margin: 0 auto;
  padding: 0;
}




.cHeading {
  border-bottom: solid 1px #000000;
}

.cLink {
  color: #000000;
}

.cLink:hover, .cLink:active {
  background-color: #FFFCFC;
}

.cSvg {
  font-family: 'Computer Modern Italic', 'Computer Modern', serif;
}

/*Code*/

.cCodeFrame {
  margin: 0.5em auto auto;
  padding: 0 0.5em;
  width: max-content;
  max-width: calc(100% - 1em);
  display: flex;
  flex-direction: column;
  border-left: solid 1px #000000;
  border-right: solid 1px #000000;
}

.cCodeMenu {
  margin: 0;
  padding: 0 0.2em;
  display: flex;
  flex-direction: row;
}

.cCodeMenuTitle, .cCodeMenuElement {
  margin: 0.5em auto;
  border: none;
  outline: none;
  background-color: #FAF8F8;
}

.cCodeMenuTitle {
  flex-grow: 1;
}

.cCodeMenuElement {
  box-sizing: content-box;
  flex-basis: 100px;
  flex-grow: 0;
  padding: 0;
  border-left: solid 1px #404040;
  display: flex;
  flex-direction: row;
}

.cCodeMenuInvisible {
  display: none;
}

.cCodeMenuRight {
  border-right: solid 1px #404040;
}

.cCodeMenuButton {
  cursor: pointer;
}

.cCodeMenuButton:hover, .cCodeMenuButton:active {
  background-color: #F4F0F0;
  border-top: solid 1px #404040;
  border-bottom: solid 1px #404040;
}

.cCodeMenuIcon {
  margin: auto 0 auto auto;
  height: 18px;
}

.cCodeMenuText {
  margin: auto auto auto 0;
  font-family: 'Noto Sans', sans-serif;
  font-size: 14px;
}

.cCodeMenuEffectCopy {
  animation: 1s ease-in 0s 1 normal none running cCodeMenuAnimationFrame;
}

@keyframes cCodeMenuAnimationFrame {
  from {
    background-color: #C0E0F0;
  }
  to {
    background-color: #FAF8F8;
  }
}

.cCodeSingle {
  padding: 0 0.2em;
  border-radius: 20%;
  font-family: 'Inconsolata', monospace;
  background-color: #E0E0E4;
}

.cCodeMulti {
  margin: 0;
  padding: 0;
  text-align: left;
  font-family: 'Inconsolata', monospace;
  width: max-content;
  max-width: 100%;
  overflow: auto;
  border-radius: 0;
  border-top: solid 1px #000000;
  border-bottom: solid 1px #000000;
  background-color: #F4F4F4;
}

.cCodeContracted {
  max-height: 80px;
}

.cCodePre {
  margin: 0;
  padding: 0;
  width: max-content;
  display: flex;
  flex-direction: column;
}

.qLine {
  margin: 0;
  padding: 0.2ex 0;
  width: 100%;
  text-align: left;
}

.qLineEven {
  background-color: #ECEEEC;
}

/*Common*/

.qComUBlue {
  text-decoration: underline solid blue;
}

.qComURed {
  text-decoration: underline solid red;
}

.qComRBlue {
  border-left: solid 1px blue;
}

.qComRBlue {
  border-left: solid 1px red;
}

/*Vlrfsasm*/

.qVlrName {
  color: #000000;
}

.qVlrBuiltin {
  color: #204060;
}

.qVlrNumber {
  color: #206040;
}

.qVlrSymbol {
  color: #A08040;
}

.qVlrString {
  color: #408020;
}

.qVlrComment {
  color: #808080;
}

  /*.qVlrSplit {}*/

.qVlrLabel {
  color: #802000;
}

/*Path*/
.qPathName {
  color: #000000;
}

.qPathSplit {
  color: #A08040;
}

.qPathComment {
  color: #808080;
}

/*text decoration*/

.tBold {
  font-weight: bold;
}

.tItalic {
  font-style: italic;
}

.tOverline {
  text-decoration: overline solid #000000;
}

.tUnderline {
  text-decoration: underline solid #000000;
}


