@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@450&display=swap');

/* 通常フォント 安心と信頼の noto sans */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap');

/* 等倍フォント Kosugi*/
@import url('https://fonts.googleapis.com/css2?family=Kosugi&display=swap');

html {
    font-family: 'Noto Sans JP', sans-serif;
}

.article_box {
    max-width: 100%;
    margin: 0 1% 1rem;
    padding: 0;
    
    display: flex;
    flex-direction: column;
}

.vertical_center {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.textbox_title {
    margin: 0.75em 2.5%;
    border-bottom: solid 4px #E0E8FF;
}

.textbox {
    margin: 0 4% 0.5rem;
    padding: 0;

    text-align: start;
}

.code_block_container {
    max-width: 100%;
    margin-bottom: 0.5rem;
    background-color: #e0e8ff6c;

    text-align: start;
    overflow: hidden;
}

.code_block_infobox {
    min-height: 2rem;

    display: flex;
    flex-direction: row;
    background-color: #e0e8ffa4;
}

.code_block_lang {
    max-width: 10rem;
    margin-left: 2%;
    flex: 1;

    font-size: inherit;
}

.code_copy_button {
    border: 0;
    flex: 2;
    background-color: #e0e8ffa4;
    transition: background-color 0.5s;

    font-size: inherit;
}

.code_copy_button:hover {
    background-color: #cdd6f1;
    transition: background-color 0.5s;
}

.code_block {
    margin: 1rem 3% 0;

    text-align: start;
}

.code_block_main {
    margin: 0;
    padding-bottom: 0.5rem;

    font-family: 'Kosugi', sans-serif;
    overflow: hidden;
    overflow-x: auto;
}

.table_back {
    display: flex;
    flex-direction: column;
}

.table {
    margin: 1rem 3% 0.5rem; 
    border-collapse: collapse;
}

.table_cap {
    margin-top: 0.5rem;
    caption-side: bottom;

    font-weight: bold;
}

.table_head {

}

.table_body {

}

.table_tr_head {
    background-color: #cdd6f1;
}

.table_tr_odd {
    background-color: #FAF8F8;
}

.table_tr_even {
    background-color: #edf2fd;
}

.table_tr_odd, .table_tr_even {
}

.table_th {
    border: 1px solid #c7c7c7;
}

.table_th_ele {
    min-width: 100%;
    min-height: 100%;
    
    display: flex;
    flex-direction: row;
    justify-content: center;

    font-weight: normal;
}
